@import url(https://fonts.googleapis.com/css?family=Poppins);
/* style for whole body */
body {
  font-family: Poppins;
  font-style: normal;
  overflow: scroll;
}
::-webkit-scrollbar {
  display: none;
}

body .Dark {
  background: #fefefe;
  height: 100vh;
}
body .Dark {
  filter: invert(1) hue-rotate(180deg);
}
.Dark img {
  filter: invert(1) hue-rotate(180deg);
}
