.notes {
  width: 318px;
  max-height: 720px;
  background: #f5f9f9;
  border-radius: 15px;
  margin-top: 34px;

  margin-right: 39px;
}
.notesHeading {
  display: flex;
  justify-content: space-between;
  margin: 20px 16px 20px 20px;
}
.notesName {
  width: 84px;
  height: 14px;

  font-weight: 600;
  font-size: 14px;
  line-height: 101.1%;
  /* or 14px */
  color: #212121;
}

.notesCount {
  font-weight: 500;
  font-size: 14px;
  line-height: 101.1%;
  /* or 14px */
  color: #329c89;
  background: #ecf3f3;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  padding: 6px 8px 6px 8px;
}
.addButton {
  max-width: 150px;
  height: 30px;
  margin-left: 14px;
  padding-top: 5px;
  padding-left: 140px;
  background: #ecf3f3;
  border-radius: 7px;
  cursor: pointer;
}
.addButton:active {
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
}
.notesContainer {
  height: 350px;
  overflow: scroll;
  margin-top: 30px;
  display: flex;
  position: relative;
  flex-direction: column;
  box-sizing: border-box;
}
.note {
  width: 282px;
  height: 139px;
  background: #ffffff;
  border: 1px solid #dbdbdb;
  box-sizing: border-box;
  position: relative;
  box-shadow: 0px 0px 28px rgba(72, 174, 174, 0.07);
  border-radius: 7px;
  margin-bottom: 30px;
  margin-left: 16px;
  transition: all 1s ease;

  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
}
.noteHeading {
  margin-left: 18.6px;
  margin-top: 21.5px;
  font-weight: bold;
  font-size: 14px;
  width: fit-content;
  line-height: 137.1%;
  /* or 19px */
  text-align: justify;
  word-break: break-all;
  color: #212121;
  cursor: pointer;
}
.data {
  height: 46px;
  margin-top: 15.7px;
  margin-left: 18.6px;
  margin-right: 23px;
  font-weight: normal;
  font-size: 12px;
  line-height: 137.1%;
  text-align: justify;
  word-break: break-all;
  /* or 16px */
  cursor: pointer;
  color: #6b6b6b;
}

.initial {
  color: #d6e2f0;
}
.noteBottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 24.29px;
  margin-left: 19.43px;
  color: #bebebe;
  font-size: 10px;
}
.noteCreatorAvatar {
  width: 25.26px;
  height: 25.26px;
}
#commentIcon {
  cursor: pointer;
  margin-bottom: -2px;
}
