.settingComponent {
  display: flex;
  align-items: center;
  margin: 100px 100px;
}
.switch {
  position: relative;
  display: inline-block;

  width: 60px;
  height: 34px;
}

.settingText {
  padding: 0px 20px;
  font-weight: bold;
  font-size: 22px;
  line-height: 101.1%;
}
.switch .themeToggleCheckbox {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(43, 43, 43);
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #b3b3b3;
  transition: 0.4s;
}

.themeToggleCheckbox:checked + .slider {
  background-color: #b3b3b3;
}

.themeToggleCheckbox:checked + .slider:before {
  transform: translateX(26px);
  background-color: rgb(43, 43, 43);
}

.slider {
  border-radius: 34px;
}

.slider:before {
  border-radius: 50%;
}
